<div class="collapse navbar-collapse" id="navbar-menu">
  <%= render 'common/nav_items' %>
  <div class="my-md-0 flex-grow-1 flex-md-grow-0 order-first order-md-first">
    <%= render 'common/space_selector' %>
  </div>
</div>
