<div class="card border">
  <div class="card-body">
    <div>
      <%%= render @<%= singular_table_name %> %>
    </div>
    <div>
      <%%= link_to "Back to <%= human_name.pluralize.downcase %>", <%= index_helper(type: :path) %>, class: "btn" %>
    </div>
  </div>
</div>
