<div class="table-responsive">
  <table class="table table-vcenter card-table">
    <thead>
      <tr>
        <th> Object </th>
        <th> Acess </th>
      </tr>
    </thead>
    <tbody>
      <% role.permissions.each do |permission, value| %>
        <tr>
          <td> <%= permission %> </td>
          <td class="text-muted">
            <%= value %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="card-footer bg-transparent mt-auto">
  <div class="btn-list justify-content-end">
    <a href="#" class="btn btn-primary <%= 'disabled' if role.common? %>">
      Edit
    </a>
  </div>
</div>
