<% content_for :page_pretitle do %>
  Edit
<% end %>
<% content_for :page_title do %>
  User
<% end %>
<div class="row row-cards">
  <%= render "form", user: @user %>
  <%= button_to "Delete", @user, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }, class: "btn btn-danger" %>
</div>
