<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="page-title">
          New user
        </h2>
      </div>
    </div>
  </div>
</div>
<div class="page-body">
  <div class="container-xl">
    <div class="row row-cards">
      <%= render "form", user: @user %>
      <div>
        <%= link_to "Back to users", users_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
