<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <% if notice %>
      <p class="alert alert-success alert-dismissible"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger alert-dismissible"><%= alert %></p>
    <% end %>
    <div class="row align-items-center">
      <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle">
          <%= yield :page_pretitle  %>
        </div>
        <h2 class="page-title">
          <%= yield :page_title  %>
        </h2>
      </div>
    </div>
  </div>
</div>
