// Entry point for your Sass build
@import "@tabler/core/scss/tabler";
@import "@tabler/core/scss/tabler-vendors";
@import "@tabler/core/scss/tabler-themes";

.landing-navbar {
    box-shadow: 0 0 0 0;
}

.landing-navbar.scrolled {
    box-shadow: 5px -1px 12px -5px grey;
}