<div id="flash" class="flashes">
  <% flash.each do |type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{type} alert-dismissible", data: { controller: "flash" }) %>
  <% end %>
</div>
