<body  class="d-flex flex-column">
  <div class="page page-center">
    <div class="container-tight py-4">
      <% if notice %>
        <p class="alert alert-success alert-dismissible"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger alert-dismissible"><%= alert %></p>
      <% end %>
      <div class="text-center mb-4">
        <a href="/" class="navbar-brand navbar-brand-autodark"><%= image_tag "logo.svg", class: "navbar-brand-image", height: '32' %></a>
      </div>
      <%= yield %>
    </div>
  </div>
</body>
